extra/*/*.txz
extra/*/*.asc
patches/*/*.txz
patches/*/*.asc
patches/*/*/*.txz
patches/*/*/*.asc
testing/*/*.txz
testing/*/*.asc
testing/*/*/*.txz
testing/*/*/*.asc
testing/*/*/*/*.txz
testing/*/*/*/*.asc
slarm64/*
CHECKSUMS.*
FILE_LIST
FILELIST.*
PACKAGES.*
*MANIFEST.*
